# =========================
# 1. Flutter / Dart 核心防御
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
*.log

# =========================
# 2. Python 后端核心防御
# =========================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
python_backend/web_automation/*.png
python_backend/web_automation/logs/

# =========================
# 3. 操作系统及环境杂乱文件
# =========================
.idea/
.DS_Store
Thumbs.db
